
.root{

    -fx-background-color: #ffffff;
}

#vbox{
}

.mainMenuBar {
    -fx-background-color: #6200ee;
}

#scrolpane{
    -fx-background-color: transparent;
}

.label{
    /*-fx-text-fill :#2a9d8f;*/
    -fx-font-family: sans-serif;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

#welcome{
    -fx-font-size: 69;
}


.button{
    -fx-background-color: #6200ee;
    /*-fx-background-radius: 30;*/
    /*-fx-background-insets: 0,1,2,3,0;*/
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}




.button:hover {
    -fx-background-color: #3700b3;
}

#logoutButton{
    -fx-background-color: #FF0000;
    /*-fx-background-radius: 30;*/
    -fx-background-insets: 0;
    -fx-text-fill: #ffffff;

}

.slider{
    -fx-border-color: #ECE4B7;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}

  
    